
.prayerEl {
    
    font-size: 4vw;
    display: flex;
    justify-content: space-between;
    padding: 2vh 0;
    font-weight: 700;    
    padding-right: 1vw;
    /*color : green;*/
}

.name {
    padding-right: 1.25vw;
   /* color : green;*/
}

.nextPrayer {
    justify-content: center;
    padding-right: 10px;
    padding-left: 20px;
   /* color: green;*/
    font-size: 3.5vw;
 
}

.Iqama {
    font-size: 3.333vw;
    /*color : green;*/
}

.IqamaBox {
   /*color: rgb(86, 222, 86);*/
    
}

.unactive {
    /* opacity: 0.8; */
/* background-color: red; */
}

.active  {
    opacity: 1;
    font-weight: 900;
}